/* .main{
     width: 70vw;
    margin: auto;
} */
*{
  box-sizing: border-box;
}
.aboutCSS {
  width: 80vw;
  margin: auto;
  border: 2px solid rgb(204, 214, 246);
  box-shadow: rgb(204, 214, 246) 5px 5px 5px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(28, 16, 46);
  /* background-color:#B3E5FC; */
}
.aboutCSS > h1 {
  color: rgb(204, 214, 246);
  width: fit-content;
  margin: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  /* border-bottom: 3px solid aliceblue; */
}
.line {
  width: 190px;
  height: 6px;
  margin: auto;
  border-radius: 10px;
  background: linear-gradient(
    270deg,
    rgb(14, 128, 148) 0%,
    rgb(136, 97, 184) 100%
  );
}
.para {
  margin-top: 30px;
  /* max-width: 1000px; */
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 3.6rem;
  /* color: rgba(255, 240, 240, 0.5); */
  color: white;
  width: 60%;
  text-align: left;
}
.para > h2 {
  /* text-align: center; */
  font-size: 25px;
  margin-bottom: 10px;
}

.parCont {
  display: flex;
  margin-top: 20px;
  padding: 2%;
}
.parImg {
  /* height: 400px; */
  height: 100%;
  width: 40%;
  padding: 2%;
}
.parImg > img {
  height: 100%;
  width: 100%;
  padding: 2%;
}
.skillsCSS {
  width: 70%;
  margin: auto;
  margin-top: 100px;  
}
#tools{
  margin-top: 50px;
  margin-bottom: 50px;
}
.skillsCSS > h1 {
  color: rgb(251, 251, 251);
  width: fit-content;
  margin: auto;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
}
.icons {
  background-color: #15023a;
  width: 120px;
  height: 120px;
  display: flex;
  text-align: center;
  /* -webkit-box-pack: center; */
  justify-content: center;
  /* -webkit-box-align: center; */
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 25px;
  margin-right: 10px;
  font-size: 1.6rem;
  color: rgb(242, 245, 247);
}

.icons:hover {
  box-shadow: rgb(255, 255, 255) 3px 3px 5px;
  /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}
.iconContainer {
  margin: 5px;
  height: 40%;
  width: 40%;
  margin: auto;
  padding: 10px;  
}
.iconContainer > img {
  /* margin-top: 5px; */
  height: 100%;
  width: 100%;
}
.name {
  color: rgb(242, 245, 247);
  font-weight: 600;
  /* margin: 5px; */
  font-size: 16px;
  /* padding: 5px; */
}

.options {
  /* margin-top: 30px;
    width: 100%;
    background-color: red;
    display: grid;
    grid-template-columns: auto auto auto auto auto; */
  width: 100%;
  /* max-height: 100vh; */
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-template-rows: auto;
  color: rgb(242, 245, 247);
  cursor: default;  
}
@media screen and (max-width: 768px) {
  .options {
    width: 100%;
    margin: auto;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    gap: 2%;
    padding: 1rem;
  }
  .parCont {
    display: block;
    /* margin-top: 20px;
 padding: 2%; */
    /* width: 80vw; */
  }
  .para {
    width: 100%;
    text-align: center;
  }
  .parImg {
    width: 100%;
    height: 100%;
    padding: 0px;
  }
}
@media screen and (max-width: 640px) {
  .options {
    grid-template-columns: auto auto;
    /* max-height: 110vh; */
    grid-template-rows: auto;
    gap: 1%;
    border: 1px solid red;
  }
  .skillsCSS>h1{
    font-size: 25px;
  }
  .icons {
    width: 92px;
    height: 90px;
    display: flex;
    text-align: center;
    /* -webkit-box-pack: center; */
    justify-content: center;
    /* -webkit-box-align: center; */
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 10px;
    font-weight: 200;
    color: rgb(242, 245, 247);
  }
  .about{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
  }
  .react-activity-calendar{
    /* border: 1px solid red; */
  }
  .github{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 85%;
    justify-content: center;
    align-items:center;
    /* height: 110px; */
  }
  #github-top-langs{
    height: 100px;
  }
  /* .github>div>img{
    width: 99%;
  } */
  .github-cal>h1{
    font-size: 25px;
    /* border: 1x solid red; */
  }
  
  .react-activity-calendar>img{
    width: 100%;
    height: 90px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
}

/* @media screen and (max-width: 768px){
    .options{
       grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    gap: 4%;
    }
} */

.mainCO {  
  padding: 5px;
}
.github{
  display: flex;
  margin: auto;
  width: 85%;
  padding-top: 50px;
  justify-content: space-between;
  align-items: center
}
.github img{
  width: 99%;
}
#github-top-langs{
  height: 190px;
}
.react-activity-calendar{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.react-activity-calendar>img{
  width: 70%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.github-cal{
  color: rgb(251, 251, 251);
}