.contact{
    width: 80vw;
   
    margin: auto;
    padding:15px;
    /* border: 2px solid; */
  border: 1px solid rgb(204,214,246);
     box-shadow: rgb(204,214,246) 5px 5px 5px;
  
    border-radius: 10px;
      background-color: rgb(28, 20, 42);
      
}
.contact > h1{
    color: rgb(204,214,246);
   width: fit-content;
    margin: auto;
    font-weight: 700;
    font-size: 40px;
    line-height: 56px;
}
.main{
    margin-top: 100px;
    
}
.line{
   width: 150px;
    height: 6px;
    border-radius: 10px;
    background: linear-gradient(
270deg
, rgb(19, 173, 199) 0%, rgb(148, 93, 214) 100%);
}
.parag{
    /* margin-top: 30px; */
    width: 60%;
    /* max-width: 1000px; */
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    padding-bottom: 3.6rem;
    padding-right: 20px;
    /* color: rgba(243, 243, 251, 0.5); */
     color: antiquewhite;
    /* color: aliceblue */
      /* background-color: rgb(26,19,38) ; */
      /* background-image: linear-gradient(to bottom left,rgba(32, 27, 39, 0.678),rgba(23, 6, 32, 0.863)),url("https://refactored-waddle.vercel.app/static/media/home-bg.dc52d5d4.jpg"); */

}
.parag > h2{
    font-size: 24px;
    font-weight: 500;
      color: rgb(204,214,246);
    
    margin-bottom: 10px;
}
.parag > p{       
    font-size: 16px;
      font-weight: 400;
}
.contact_icon{
    /* display: flex; */
     justify-content: space-between;

    margin-top: 20px;
   
}
.call>div{
    font-size: 14px;
    /* color: antiquewhite; */
    font-weight: 500;
    color: rgb(204,214,246);
    
}
.call > p{
    font-size: 16px;
}
.icoL{
    margin-top: 20px;
    display: flex;
    /* margin-right: 20px; */

    
    
  
    
}
.icoL :nth-child(1) :hover{
    color: rgb(234,67,53);
}

.icoL :nth-child(2) :hover{
    color: rgb(10,99,188);
}
.icoL :nth-child(3) :hover{
    color: gray;
}
.icoL_icon{
height: 100%;
 
    /* width: 30px ; */
width: 50px;
padding-right: 20px;
}
.icoL_icon > a{
    font-size: inherit;
        color: inherit;
        text-decoration: none;
}
/* .icoL_icon :hover{ */
    /* height: 30px; */
    /* width: 100px ; */
/* } */
.contact_inf{
    display: flex;
    margin-top: 30px;
    padding-left: 20px;
}
.gif{
    width: 40%;
    
}
.gif > img{
    width: 100%;
    height: 90%;
    border-radius: 30px;
}
.call >p{
    font-weight: 500;
}
  @media screen and (max-width: 768px){
    .gif{
        display: none;
    }
    .contact_icon{
        display: block;
    }
    .parag{
        width: 100%;
        padding-left: 20px;
        text-align: center;
      
        /* background-image: linear-gradient(to bottom left,rgba(15,12,20,0.678),rgba(18,10,22,0.863)),url("https://refactored-waddle.vercel.app/static/media/home-bg.dc52d5d4.jpg"); */
    }
    .icoL{
        margin-top: 10px;
        /* margin-left: 18%; */
         text-align: center;
         align-items: center;
         justify-content: center;
         /* margin:10px auto; */
    }

}
