.App{
  height: 100vh;
  // scroll-snap-type: y mandatory;
  //  &::-webkit-scrollbar{
  //     display: none;
  //   }
  //background-color: rgb(35,41,70);

//   .app{
// &::-webkit-scrollbar{
//       display: none;
//     }
//     background-color: rgb(35,41,70)
//   }
  .sections{
    width: 100%;
    height: calc(100vh - 70px);
    // background-color: lightsalmon;
    // background-color: rgb(35,41,70);
    position: relative;
    top: 70px;
    scroll-snap-type: y mandatory;
    &::-webkit-scrollbar{
      display: none;
     
    }

    > *{
      width: 100vw;
      height: calc(100vh - 70px);
      scroll-snap-align: start;
    }
  }
}
.app{
  overflow-y: hidden;
}