
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.App {
  font-family: sans-serif;
  text-align: center;
}

section {
  display: grid;
  place-items: center;
  height: 100vh;
  font-size: 32px;
  font-weight: bold;
}

#about {
  margin-top: -80px;
}

#projects,
#contact {
  color: #3b3b3c;
  background: #eaf2fa;
}



.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  font-family: 'Poppins', sans-serif;
}

.nav__container__actions {
  display: inline-flex;
  flex-flow: row nowrap;
  padding-left: 50px;
  flex: 1;
}

.active {
  font-weight: bold;
}

ul {
  display: flex;
  gap: 1rem;
  font-size: 0.9rem;
  list-style: none;
  padding: 0;
}

li {
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
}





#about {
  margin-top: -80px;
}

#projects,
#contact {
  color: #3b3b3c;
  background: #eaf2fa;
}




.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: -5px;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: 100%;
  background: #21245c;
  color:#fff;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
  border-bottom: 1px solid #544730;
}

.nav__container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.nav__logo {
  margin-right: 20px;
}

.nav__toggle {
  display: none;
  cursor: pointer;
}

.nav__icon {
  font-size: 20px;
}

.nav__menu {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  align-items: center;
}

.nav__menu-open {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.nav__menu li {
  margin-bottom: 10px;
  padding: 14px 10px 7px 17px;
}
.resume-btn {
  background-color: #fbe67d5c;
  border: 2px solid #f5b238;
  border-radius: 24px;
  padding: 10px 18px;
  color: #fff;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .nav__toggle {
    display: flex;
  }

  .nav__menu {
    display: none;
  }

  .nav__menu-open {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  .nav__menu li {
    margin: 10px 0;
  }

  .nav__icon {
    color: #000;
  }
}


/* home */
.home{
  display: flex;
  width: 100%;
 /* padding: 10px; */
  }
  .homebg {
    background-color: #0e1024;
}
  .textPart{
width: 60%;
  }
  .imgPart{
width: 40%;
  }
.content {
	position: relative;
}

.content h2 {
  color: #fff;
  font-size: 1.9em;
  position: absolute;
  /* transform: translate(0%, 91%); */
  padding: 0 80px;
  
}

.content h2:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px #f5b238;
}

.content h2:nth-child(2) {
	color: #fbe67d;
	animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(
			0% 45%,
			16% 44%,
			33% 50%,
			54% 60%,
			70% 61%,
			84% 59%,
			100% 52%,
			100% 100%,
			0% 100%
		);
	}

	50% {
		clip-path: polygon(
			0% 60%,
			15% 65%,
			34% 66%,
			51% 62%,
			67% 50%,
			84% 45%,
			100% 46%,
			100% 100%,
			0% 100%
		);
	}
}



@import url('https://fonts.googleapis.com/css?family=Exo:400,700');



.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}




.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 99999;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate2 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate2 {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* about */

.aboutbg{
  background-color: #1c1e3e;
  
}

.aboutCap{
  display: flex;
  flex-direction: row-reverse;
  padding: 2px 4px;
 }


.ab-content .aboutCap p{
  border-right: 5px solid #f5b238;
  padding: 0;
  padding: 5px;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}


.aboutCap p span{
 color: #f5b238;
}
.abtContainer{
  display: flex;
  width: 100%;
  padding: 10px 40px;
}
.ab-img{
width: 50%;
}
.ab-img img {
  width: 90%;
  border: 5px solid #f5b238;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(225, 233, 115, 0.3) 0px 8px 16px -8px;
}
.ab-content{
width: 50%;
font-size: 20px;
color: #fff;
}
.ab-content p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #cdcdcd;
  text-align: justify;
}
.abtContact{
  display: flex;
justify-content: space-around;
gap: 10px;
}

.abtContact a div {
  background-color: #3e4289;
  padding: 17px 44px;
  /* width: 30%; */
  border-radius: 5px;
  font-size: 30px;
  color: #fff;
  box-shadow: rgb(50 50 106 / 25%) 0px 13px 27px -5px, rgb(7 7 8 / 78%) 0px 8px 16px -8px;
 
}
.line2{
 
    position: absolute;
    margin-top: 133px;
    left: 15%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.line1{
  position: absolute;
  left: 12%;
  color: #fff;
  /* padding: 7px 12px; */
  top: 21%;
 
  left: 8%;
  font-family: 'Poppins', sans-serif;
}












.shape-svg {
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.shape-svg svg {
  fill: #1c1e3e;
}